

.row {
    display: flex;
    border: solid 4px black;
    
}

.box {
    width: 100vh;
    height: 100vh;
    background-color: rgb(156, 180, 58);
    align-items: center;
    display: flex;
    justify-content: flex-start;
    border: solid 1px black;
    
}

.box2 {
    width: 100vh;
    height: 100vh;
    background-color: rgb(212, 75, 75);
    align-items: center;
    display: flex;
    justify-content: flex-start;
    border: solid 1px black;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
